<div class="body" id="toUp">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1g-6 col-md-6 col-xs-12  ">
        <p>New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!
        </p>
        <button class="btn btn-default" type="submit">Start Now for free!</button>
      </div>
      <div class="col-1g-6 col-md-6 col-xs-12">
        <div class="body-img">
          <img src="../../../assets/Capture.PNG" class="img-responsive" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- discover section  -->

<div class="discover">
  <div>
    <h2>Discover what all the buzz is about!</h2>
    <p>Our app is available on any mobile device! Download now to get started!</p>
  </div>
  <div class="img-discover">
    <a href="https://store.google.com/regionpicker">
      <img src="../../../assets/google-play-badge.svg" class="img-responsive" alt="Responsive image"></a>
    <a href="https://play.google.com/store/games?device=windows">
      <img src="../../../assets/app-store-badge.svg" class="img-responsive" alt="Responsive image">
    </a>

  </div>
</div>
<!-- features section  -->
<div class="features">
  <div>
    <h2>Unlimited Features, Unlimited Fun</h2>
    <p>Check out what you can do with this app theme!</p>
    <br>
    <span id="span-border"></span>
  </div>
  <div class="sub-features">
    <div class="sub-feature-1">
      <img src="../../../assets/Capture.PNG">
    </div>
    <div>
      <div>
        <span> <i class="fas fa-gift"></i> </span>
        <h3>Flexible Use</h3>
        <p>Put an image, video, animation, or anything else in the screen!</p>
      </div>
      <div>
        <span> <i class="fas fa-gift"></i> </span>
        <h3>Flexible Use</h3>
        <p>Put an image, video, animation, or anything else in the screen!</p>
      </div>
    </div>

    <div>
      <div>
        <span> <i class="fas fa-gift"></i> </span>
        <h3>Flexible Use</h3>
        <p>Put an image, video, animation, or anything else in the screen!</p>
      </div>
      <div>
        <span> <i class="fas fa-gift"></i> </span>
        <h3>Flexible Use</h3>
        <p>Put an image, video, animation, or anything else in the screen!</p>
      </div>
    </div>

  </div>
</div>


<div class="waiting">
  <div class="blur">
    <div id="sub-blur">
      <h2>Stop Waiting. <br>Started Building.</h2>
      <button> Let's Get Started </button>
    </div>
    <div>

    </div>
  </div>

</div>

<div class="love">
  <div>
    <h2>We <span> <i class="fas fa-heart"></i> </span> new friends!</h2>
    <a href="#"> <span><i class="fab fa-twitter love-icon"></i> </span> </a>
    <a href="#"> <span><i class="fab fa-facebook love-icon"></i></span> </a>
    <a href="#"> <span><i class="fab fa-google-plus love-icon"></i></span> </a>
  </div>
</div>