h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Catamaran, Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

p,
span {
  font-family: Muli, Helvetica, Arial, sans-serif;
}

.div {
  width: 200px;
  height: 200px;
  margin: auto;
  display: inline-block;
  // word-wrap: break-word;
}

.div img {
  width: 200px;
  height: 150px;
  display: inline-block;
}

.arrow {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: fit-content;
  height: fit-content;
  z-index: 20;
  animation: upToDown 1010ms ease-in-out 100ms infinite alternate;
  -webkit-animation: upToDown 1010ms ease-in-out 100ms infinite alternate;

  i {
    font-size: 30px;
    color: #971b3a;
    margin: 3px;

  }
}

@keyframes upToDown {
  from {
    bottom: 25px;
  }

  to {
    bottom: 40px;
  }
}
